<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="POST">
     <div class="">
       <label for="name">Team name:</label>
       <input type="text" name="name">
     </div>
     <div class="">
       <label for="coach">Coach:</label>
       <input type="text" name="coach">
     </div>
     <div class="">
       <label for="pg">Point Guard:</label>
       <input type="text" name="pg">
     </div>
     <div class="">
       <label for="sg">Shooting Guard:</label>
       <input type="text" name="sg">
     </div>
     <div class="">
       <label for="sf">Small Forward:</label>
       <input type="text" name="sf">
     </div>
    <div class="">
      <label for="pf">Power Forward:</label>
      <input type="text" name="pf">
    </div>
     <div class="">
       <label for="c">Center:</label>
       <input type="text" name="c">
     </div>
     <input type="submit" id="Submit">
   </form>
 </body>
</html>
